# local env
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# repos to keep locally, not commit
mujoco/
openbiomechanics/

# python cruft
__pycache__/
**/__pycache__/
*.pyc

# logs for mujoco
MUJOCO_LOG.TXT

# model artifacts
*.c3d
*.joblib
pitchlens/models/*.xml
pitchlens/logs/*.csv
models/
logs/
videos/

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDEs
.vscode/
.idea/